<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843293934498-uabqb2jvk156sr9a248agkeamftanlnj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843293934498-uabqb2jvk156sr9a248agkeamftanlnj</string>
	<key>API_KEY</key>
	<string>AIzaSyBVaMgKycahRqet2mZxVpiU9yLXP1hJf0g</string>
	<key>GCM_SENDER_ID</key>
	<string>843293934498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.weight.tracker.app.weightTracker</string>
	<key>PROJECT_ID</key>
	<string>my-weight-app-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>my-weight-app-tracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843293934498:ios:6128d743da2a903c5528fb</string>
</dict>
</plist>